#google_image{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

#entry{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;

}

#buttons{
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

#cubuk{
    position: relative;
    left: 32%;
    width: 300px;
}

